.button {
	position: absolute;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;

	background-color: #fff;
	box-shadow: 0px 0px 15px 0px #3877ee1a;

	transform: translateY(-50%);

	&:disabled {
		display: none;
	}

	&.prev {
		left: 20px;
		.arrow {
			transform: translate(-50%, -50%) rotate(-180deg);
		}
	}

	&.next {
		right: 20px;
	}
}

.arrow {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-25%, -50%);
}

@media (max-width: 1439px) {
	.button {
		display: none;
	}
}
