.wrapper {
	position: static;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	gap: 50px;
}

.slider {
	align-items: end;
}

.navigation {
	padding: 0 80px;
}

.controls {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 1439px) {
	.wrapper {
		flex-grow: 1;
		flex-direction: column;
		gap: 50px;
	}

	.navigation {
		padding: 0 20px;
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.controls {
		gap: 10px;
	}
}
