.wrapper {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.active {
	opacity: 1;
	transition-delay: 1s;
}

.title {
	width: calc(100% - 40px);
	margin: 0 20px 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #c7cdd9;

	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	display: none;
}

@media (max-width: 1439px) {
	.wrapper {
		transition: opacity 0.5s ease-in-out;
	}

	.active {
		transition-delay: 0.3s;
	}

	.title {
		display: block;
	}
}
